# Donnees brutes
data/raw/*
data/processed/*
data/*.csv

# DB
chroma_db/*


# Poids de modeles
models/*.pth
!models/.gitkeep

# MLflow
mlruns/*
mlflow.db

# Rapports Evidently
reports/*

# Secrets
.env
.**

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
