# Donnees brutes
data/raw/*
data/processed/*

# Poids de modeles
models/*
!models/.gitkeep

# MLflow
mlruns/*

# Rapports Evidently
reports/*

# Secrets
.env
.**

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
