# Donnees brutes
data/raw/*
data/processed/*
data/ood_samples/*

# DB
chroma_db/*

# Poids de modeles
models/*
!models/.gitkeep

# MLflow
mlruns/*
mlflow.db

# Rapports Evidently
reports/*

# Secrets
.env
.**

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
